<!-- section experience -->
<section id="experience">

    <div class="container">
        
        <!-- section title -->
        <h2 class="section-title wow fadeInUp">Experience</h2>

        <div class="spacer h-60"></div>
        
        <div class="row">

            <div class="col-md-6">
                
                <!-- timeline wrapper -->
                <div class="timeline edu bg-white rounded shadow-dark padding-30 overflow-hidden">

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp">
                        <div class="content">
                            <span class="time">2014 - 2018</span>
                            <h3 class="title">B.tech </h3>
                            <p>Ambedkar Institute Of Advanced Communication Technologies And Research, Delhi. </p>
                        </div>
                    </div>

                    <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
                        <div class="content">
                            <span class="time">2011 - 2013</span>
                            <h3 class="title">11th -12th</h3>
                            <p>Sarvodaya Bal Vidyalaya, No.1, Mori Gate, Delhi.</p>
                        </div>
                    </div>

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
                        <div class="content">
                            <span class="time">2009 - 2011</span>
                            <h3 class="title">High School</h3>
                            <p>GBSSS - No 1, yamuna vihar, Delhi.</p>
                        </div>
                    </div>

                    <!-- main line -->
                    <span class="line"></span>

                </div>

            </div>

            <div class="col-md-6">
                
                <!-- responsive spacer -->
                <div class="spacer d-md-none d-lg-none h-30"></div>

                <!-- timeline wrapper -->
                <div class="timeline exp bg-white rounded shadow-dark padding-30 overflow-hidden">

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp">
                        <div class="content">
                            <span class="time">2019 - Present</span>
                            <h3 class="title">Freelance</h3>
                        </div>
                    </div>

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
                        <div class="content">
                            <span class="time">2018 - 2019</span>
                            <h3 class="title">SwipeCubes Softs Pvt Ltd</h3>
                            <!-- <p>Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum perfecto.</p> -->
                        </div>
                    </div>

                    <!-- timeline item -->
                    <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
                        <div class="content">
                            <span class="time">2017 - 2018</span>
                            <h3 class="title">HEXIMS IT LLP</h3>
                            <!-- <p>Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum perfecto.</p> -->
                        </div>
                    </div>

                    <!-- main line -->
                    <span class="line"></span>

                </div>

            </div>

        </div>

    </div>
    
</section>
